body {
      text-align: center;
      background: url("https://i.imgur.com/RPMPQHB.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica, sans-serif;
      background-repeat: no-repeat;
      margin: 0 auto;
      height: 100vh;
      max-width: 100vw;
      
    }

    
span {
      font-size: 18px;
      background: rgba(0,0,0,0.5);
      padding: 10px;
    }

input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
input[type="submit"] {
      background: red;
      color: white;
    }

img {
        margin: 20px 0px 0px 0px;
        padding: 2px;
        border: 7px solid white;
        border-radius: 20px;
        max-width: 90px;
    }

ul {
        color: white;
        padding: 10px;
        background: rgba(0,0,0,0.5);
      }

li {
        color: white;
        display: inline;
        padding: 0px 10px 0px 10px;
        
        
      }
li a {
    text-decoration: none;
    color: inherit;
}

div {
  display: flex;
  justify-content: center;

}

h1 {
  padding: 5px;
}
    
footer {
  margin: 15px;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}    

.component-center a, p {
  color: white;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  height: 80px;
  /* width: 600px; */
  /* background-size: 100% auto; */
  /* position: relative; */
  margin: 15 auto;
  
  
  /* margin: 40px 0 0 0; */
}

a:hover {
  color: goldenrod;
} 
  
p {
  font-size: 18px;
  background: rgba(0,0,0,0.5);
  padding: 0 50px 0 50px;
}
